<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Bot Platform Interaction Endpoint Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        
        #mainframe {
            position: relative;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            border: none;
        }
    </style>

    <!-- include the chat window -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chatwindow.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script src="{{ url_for('static', filename='scripts/chatwindow.js') }}"></script>
    <script>
        $(function() {
            TBPChatWindow({
                url: "/" // where can it access the view of the bot
            }).init();
        })
    </script>

    <!-- that will automatically add the relevant elements to the page -->
</head>

<!-- give the body the class tbp-web-chat-visible to start visible-->

<body class="tbp-web-chat-visible">

    <!-- this is just example content -->
    <iframe id="mainframe" src="https://syddev.com"></iframe>
</body>