<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Bot Platform Interaction Endpoint Proof of Concept</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        const BOT_IMG = "https://pbs.twimg.com/profile_images/1253519949303353344/TYRXwLmw_400x400.jpg";
        const PERSON_IMG = "http://placekitten.com/31/31";
        const BOT_NAME = "The Bot Platform";
        const PERSON_NAME = "You";
        const START_MESSAGE = "__PAYLOAD__START";
    </script>
</head>

<body>

    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-bug"></i> The Bot Platform Interaction Endpoint Proof of Concept <i class="fas fa-bug"></i>
            </div>
        </header>

        <main class="msger-chat">

        </main>

        <form class="msger-inputarea">
            <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>

    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

    <script>
        const msgerForm = document.querySelector(".msger-inputarea");
        const msgerInput = document.querySelector(".msger-input");
        const msgerChat = document.querySelector(".msger-chat");
    </script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>



</body>

</html>